{% extends "base_main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - 课程管理{% endblock %}

{% block content_header %}
    <h1>课程信息</h1>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">课程信息</li>
{% endblock %}

{% block content_main %}
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message[1] }}
        </div>
    {% endfor  %}
    <article>
        <div class="box box-primary course-box" data-href="#">
            <div class="box-header with-border">
                <h3 class="box-title">
                    我的团队<small>{{ team.team_name }}</small>
                </h3>
            </div>
            <div class="box-body">
                <div>
                    队长
                    {{ team.owner_id }}
                </div>
                <dl class="dl-horizontal">
                    <dt>id</dt>
                    <dt>真实姓名</dt>
                    {% for member in teammate_list%}
                        <dd>{{ member.student_id }}</dd>
                        <dd>{{ member.real_name }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>

        <!-- /.box-primary -->
    </article>
{% endblock %}
