{% extends "base_main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - 课程管理{% endblock %}

{% block content_header %}
    <h1>{{ course.name }}：课程信息</h1>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">课程信息</li>
{% endblock %}

{% block content_main %}
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ message[1] }}
        </div>
    {% endfor  %}
    <article>
        <div class="box box-{% if course.status %}primary{% else %}default{% endif %} course-box" data-href="#">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ course.name }}<small>{{ semester(course.semester_id) }}</small>
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip"
                            data-original-title="编辑" id="toggleEdit">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.outline) }}
                    <p class="form-data">{{ form.outline.data }}</p>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                {{ wtf.form_field(form.teamsize_min, placeholder="下限") }}
                                <p class="form-data">{{ form.teamsize_min.data }}</p>
                            </div>
                            <div class="col-xs-6">
                                {{ wtf.form_field(form.teamsize_max, placeholder="上限") }}
                                <p class="form-data">{{ form.teamsize_max.data }}</p>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="form-control btn btn-primary btn-block">
                </form>
            </div>
        </div>
        <!-- /.box-primary -->
    </article>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $('.form-control').hide();
    $('#toggleEdit').click(function () {
        if($(this).hasClass('btn-danger')) {
            $(this).removeClass('btn-danger');
            $(this).addClass('btn-primary');
            $('.form-control').hide();
            $('.form-data').show();
        } else {
            $(this).removeClass('btn-primary');
            $(this).addClass('btn-danger');
            $('.form-control').show();
            $('.form-data').hide();
        }
    });
    $('#teamsize_min').attr('type', 'number');
    $('#teamsize_max').attr('type', 'number');
</script>
{% endblock %}