{% extends "base_main.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - 作业详情{% endblock %}

{% block content_header %}
    <h1>
        {{ course.name }}：作业详情
    </h1>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='components/datepicker/css/datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap-daterangepicker/daterangepicker.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li><a href="/teacher/{{ course_id }}/homework"> 作业信息</a></li>
    <li class="active"> 作业详情</li>
{% endblock %}

{% block content_main %}
    <article>
        <div class="box box-primary" data-href="#">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ homework.name }}
                </h3>
                <div class="box-tools pull-right">
                    <span data-toggle="modal" data-target="#homeworkModal">
                        <button type="button"
                                class="btn btn-sm btn-primary"
                                data-toggle="tooltip"
                                title="编辑">
                            <i class="fa fa-edit"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="box-body">
                {{ homework.base_requirement }}
            </div>
            <div class="box-footer">
                <dl class="dl-horizontal">
                    <dt>作业时间</dt>
                    <dd>
                        <td>
                            <time>{{ homework.begin_time.strftime(('%m/%d/%Y %H:%M')) }}</time>
                            到
                            <time>{{ homework.end_time.strftime(('%m/%d/%Y %H:%M')) }}</time>
                        </td>
                    </dd>
                    <dt>权重</dt>
                    <dd>{{ homework.weight }}</dd>
                    <dt>最大提交次数</dt>
                    <dd>{{ homework.max_submit_attempts }}</dd>
                </dl>
            </div>
        </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="homeworkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="homeworkModalLabel">
                        编辑作业
                    </h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="form" action="?action=edit&homework_id={{ homework.id }}">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.name) }}
                        {{ wtf.form_field(form.base_requirement) }}
                        {{ wtf.form_field(form.time) }}
                        {{ wtf.form_field(form.weight, type="number") }}
                        {{ wtf.form_field(form.max_submit_attempts, type="number") }}
                        <input type="submit" value="提交" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <!-- bootstrap datepicker -->
    <script src="{{ url_for('static', filename='components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script>
        $('#time').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY HH:mm'
            }
        });
    </script>
{% endblock %}